<div class="splide pinkGlow">
    <div class="splide__track">
        <ul class="splide__list">
            <% page.posts.each((post) => { %>
                <li class="splide__slide" style="position: relative">
                    <div class="ul-item" id="date"> <%= date(post.date, 'MMMM Do, YYYY')%></div>
                    <img id="post-image" src="<%- url_for(post.path) %>0.jpg">
                    <div class="ul-item" id="name"><%= post.title %></div>
                    <img class="ul-item" id="read-more" src="/img/Read-More.svg" onclick="location.href='<%- url_for(post.path) %>'">
                </li>
            <%});%>
        </ul>
    </div>
</div>

<% page.posts.each((post) => { %>
    <div class="rm-card
    <%
        post.tags.forEach(function (tag) {
            switch (tag.name){
                case("REVIEWS"): %>
                   reviews
              <%   break;
                case("FEATURES"): %>
                    features
              <%    break;
                case("INTERVIEWS"): %>
                    interviews
              <%    break;
                case("PREMIERS"): %>
                    premiers
              <%    break;
        %>
        <% }})
        %>" onclick="location.href='<%- url_for(post.path) %>'">
        <img src="<%- url_for(post.path) %>0.jpg" style="width:450px; height: 210px; object-fit: cover;">

        <div id="tagArea">
            <% post.tags.forEach(function (tag) {
                %> <h3> <%- tag.name %> </h3>
            <% }) %>
        </div>

        <h1>
                <%= post.title %>
        </h1>


        <div class="post-content-preview">
            <%- truncate(strip_html(post.content), {length: 125, omission: '...'}) %>
        </div>
        <div class="chin">
            <span id="author">
                <%- post.author%>
            </span>
            <span id="date">
                <%= date(post.date, config.date_format) %>
            </span>
        </div>

    </div>
<% }); %>