<% page.posts.each((post) => { %>
    <div class="card
    <%
        post.tags.forEach(function (tag) {
            switch (tag.name){
                case("REVIEWS"): %>
                   reviews
              <%   break;
                case("FEATURES"): %>
                    features
              <%    break;
                case("INTERVIEWS"): %>
                    interviews
              <%    break;
                case("PREMIERS"): %>
                    premiers
              <%    break;
        %>
        <% }})
        %>" onclick="location.href='<%- url_for(post.path) %>'">
        <img src="<%- url_for(post.path) %>0.jpg" style="width:450px; height: 210px">

        <div id="tagArea">
            <% post.tags.forEach(function (tag) {
                %> <h3> <%- tag.name %> </h3>
            <% }) %>
        </div>

        <h1>
                <%= post.title %>
        </h1>


        <div class="post-content-preview">
            <%- truncate(strip_html(post.content), {length: 125, omission: '...'}) %>
        </div>
        <div class="chin">
            <span id="author">
                <%- post.author%>
            </span>
            <span id="date">
                <%= date(post.date, config.date_format) %>
            </span>
        </div>

    </div>
<% }); %>