<% page.posts.each((post) => { %>
    <div class="card" onclick="location.href='<%- url_for(post.path) %>'">
        <img src="<%- url_for(post.path) %>0.jpg" style="width:450px; height: 210px">

        <% post.tags.forEach(function (tag) {
        if(tag.name == "FEATURES") {%>
                <span style="color: var(--rm-main-yellow)">
                    <%-tag.name;%>
                </span>
        <% } else if(tag.name == "REVIEWS") { %>
                <span style="color: var(--rm-main-green)">
                    <%-tag.name;%>
                </span>
        <% } else if (tag.name == "INTERVIEWS") { %>
                <span style="color: var(--rm-main-blue)">
                    <%-tag.name;%>
                </span>
        <% } else if(tag.name = "PREMIERS") { %>
                <span style="color: var(--rm-main-purple)">
                    <%-tag.name;%>
                </span>
        <% }}) %>

        <h1>
                <%= post.title %>
        </h1>


        <div class="post-content-preview">
            <%- truncate(strip_html(post.content), {length: 125, omission: '...'}) %>
        </div>
        <div class="chin">
            <span id="author">
                <%- post.author%>
            </span>
            <span id="date">
                <%= date(post.date, config.date_format) %>
            </span>
        </div>

    </div>
<% }); %>